// light

$dark-background: #F1FBFB;
$dark-darkgray: #546C8E;
$dark-darkblue: #002356;
$dark-lightblack: #2d2d2d;
$dark-white: #fff;
$dark-whitebackground: #fff;
$black: #000;
$dark-lightgray: #E4ECFB;
$red: #F73859;
$lightblue: #C4D9FF;

// dark

$light-background: #222327;
$light-darkgray: #acb4c2;
$light-darkblue: #eaeaea;
$light-lightgray: #131314;
$light-white: #252525;
$light-whitebackground: #222327;
$light-blue: #0a1729;